* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

img {
	width: 100%;
}

:root {
	--blue: #0084fd;
	--lightblue: #b5ddff;
	--purple: #9792e4;
	--dark: #333333;
	--yellow: #fdc15f;
}

ul,
ol,
menu,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* CONTAINER */

.container {
	max-width: 1204px; /*prima soluzione aggiungiamo il padding alla max width */
	/* max-width: 1140px;  */ /* seconda soluzione */
	margin: 0 auto;
	padding: 0 32px; /* prima soluzione con padding sempre */
}

.container-small{
	max-width: 944px;
	margin: 0 auto;
	padding: 0 32px;
}



/* ROW */

.row {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

/* COLUMN */

.col-3 {
	flex-basis: calc(100% / 3);
}

.col-5 {
	flex-basis: calc(100% / 2);
}

.col-6 {
	flex-basis: calc(100% * 2 / 3);
}

/* BUTTONS */

.button {
}

.button--white {
}

/* HEADER */

.main-header {
	background-color: var(--blue);
	padding: 19px 0;
	color: white;
}

.main-header nav.row {
	align-items: center;
}

.nav-item a {
	line-height: 38px;
	font-size: 16px;
	padding: 0 16px;
}

.hamburger {
	display: none;
}

/* MEDIAUERY HEADER */

@media only screen and (max-width: 991px) {
	.hamburger {
		display: block;
	}

	.header-nav {
		display: none;
	}
}

/* HERO */

.hero {
	padding: 50px 0 100px;
}

.row.gutter {
	row-gap: 24px;
	margin: 0 -12px;
}

.row.gutter > [class^='col'] {
	padding: 0 12px;
}

.card.card--hero {
	background-color: var(--lightblue);
	padding: 32px 24px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	height: 100%;
	/* border: 2px solid #333333; */
	/* min-height: 200px; */
}

.card.card--hero > .row {
	height: 100%;
}

.card.card--hero.card--landscape {
	padding-bottom: 0;
	text-align: left;
}

.card.card--hero.card--landscape .card__details {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.card.card--hero .card__icon,
.card.card--hero .card__title {
	color: var(--blue);
}

.card.card--hero .card__title {
	font-size: 1.5rem;
}

.card.card--hero .card__icon {
	font-size: 4rem;
}

.card.card--hero .card__description {
	line-height: 1.7em;
}

.card.card--hero.card--landscape .card__thumb img {
	display: block;
	max-width: 240px;
	margin: 0 auto;
}

.card.card--hero.card--landscape .card__thumb {
	align-self: flex-end;
}

/* MEDIAUERY HERO */

@media screen and (max-width: 991px) {
	.card--landscape [class^='col-'] {
		flex-basis: 100%;
	}

	.card.card--hero.card--landscape .card__thumb img {
		margin: 0;
	}
}

@media only screen and (max-width: 575px) {
	.hero [class^='col-'] {
		flex-basis: 100%;
	}

	.hero {
		padding-bottom: 80px;
	}

	.card.card--hero.card--landscape .card__thumb img {
		margin: 0 auto;
	}
}

/* SEZIONE PLANNING */

.section-planning{
	background-color: var(--purple);
	padding-top: 110px;
	padding-bottom: 65px;
}

.section-planning .col{
	flex-basis: 0;
	flex-grow: 1;
}

.section-planning .row{
	gap: 60px;
}

.card-planning{
	background-color: white;
	color: black;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 32px 40px;
	align-items: center;
	text-align: center;
}

.card-planning p{
	font-size: 14px;
	line-height: 1.7em;
}

.card-planning img{
	width: 70%;
}

.section-planning .col-card{
	align-self: flex-end;
}

.section-planning .col__img{
	margin-bottom: 100px;
}

.section-planning .col__title{
	margin-bottom: 50px;
}

.section-planning .col{
	color: white;
}

/* MEDIAQUERY SECTION PLANNING */

@media screen and (max-width: 991px){
	.section-planning .col{
		flex-basis: 100%;
	}

}

@media screen and (max-width: 575px){
	
}


/* SEZIONE TESTIMONIAL */



.col-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.img-testimonials{
   width: 100%;
   aspect-ratio: 1;
   border-radius: 50%;
   display: block;
}

.card-testimonials{
    display: flex;
    padding: 10px 0;
}

.col-avatar{
    width: 20%;    
    background-color: var(--purple);
    border-radius: 50px 0 0 50px;
    padding: 15px;
    
}

.col-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 25px;
    width: 80%;
    background-color: var(--purple);
    border-radius: 0 50px 50px 0;
    color: white;
    
}

.h2-testimonials{
    color: var(--purple);
    font-size: 30px;
    padding-bottom: 20px;
}

.h6-testimonials{
    padding-top: 70px;
    padding-bottom: 20px;
}

.container-testimonials{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-testimonials{
    text-align: center;
}


@media screen and (max-width: 575px){
    .card-testimonials{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
           
    }

    .col-avatar{
        width: 100%;
        border-radius: 50px 50px 0 0;
        
        
    }

    .col-info{
        width: 100%;
        border-radius: 0 0 50px 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

/* sezione benefit */

.section-benefit{
    background-color: var(--purple);
}


.card-benefit{
    flex-basis: calc(100% / 3);
    background-color: white;
    border-radius: 22px;
    padding: 25px;
}

.h2-benefit{
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 30px;
    
}

.h2-card-purple{
    color: var(--purple);
    font-size: 50px;
}

.h4-card-purple{
    color: var(--purple);
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 991px){
	.card-benefit{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 575px){
	.card-benefit{
        flex-basis: 100%;
    }
}