*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif; 
}

ul,
ol,
li,
menu{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E3;
    --dark: #333333;
    --yellow:#FDC05F;

}


.container{
    max-width: 1140px;
    margin: 0  auto;
}

/* row */

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
}

.space-between{
    justify-content: space-between;
}


/* COLUMN */

.col-3{
    flex-basis: calc(100% / 3);

}

.col-2{
    flex-basis: calc(100%/3*2);
}

.left-side{
    flex-basis: 50%;
}
.right-side{
    flex-basis: 50%;
}

/* BUTTON */

.button{
    border-radius: 25px;

}

.button--white{
    background-color: white;
    color: var(--dark);

}

.blue--button{
    background-color: var(--blue);
    color: white;
    padding: 5px 20px;
    line-height: 38px;
    
    
}

/* HEADER */


.main-header{
    background-color: var(--blue);
    padding: 19px 0;
    color: white;
}

.main-header nav.row{
    align-items: center;
}

.nav-item a{
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger{
    display: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 991px){
    .hamburger{
        display: block;
    }
    .header-nav{
        display: none;
    }

    .left-side{
        flex-basis: 100%;
    }

    .double{
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 575px){
    .hero [class^="col-"]{
        flex-basis: 100%;
    }
}
    
/* HERO */

.hero{
    margin-top: 38px;
    margin-bottom: 90px;
}

.card{
    background-color: var(--lightblue);
    border-radius: 20px;
    min-height: 200px;
    padding-left: 24px;
}

.double{
    display: flex;
    }

.hero [class^="col-"]{
    padding: 12px;
}

.h2-blue{
    color: var(--blue);
    padding: 34px 0;
}

.phone{
    padding-top: 70px;
    margin: -5px;
    max-height: 270px;
}

.p-demo{
    padding-bottom: 30px;
}

.center-align{
    text-align: center;
}

.icon-blue{
    color: var(--blue);
    font-size: 80px;
}

figure{
    text-align: center;
}




